<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

</head>
<body>
<h3>Welcome to HR application!</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Job</th>
        <th>Salary</th>
        <th>Working since</th>
    </tr>

    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td><a th:href="@{/{id}(id = ${employee.id})}"
               th:text="${employee.job}"></a></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.workingSince}"></td>
        <td>
            <form th:action="@{/delete/{id}(id=${employee.id})}"
                  th:object="${employee}"
                  th:method="delete">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<br>
<form th:object="${newEmployee}" method="post" th:action="@{/employee}">
    Job: <input th:field="*{job}"><br>
    Salary: <input th:field="*{salary}"><br>
    Working since: <input th:field="*{workingSince}"><br>
    <input type="submit" value="Add employee">
</form>
</body>
</html>